@import "tailwindcss";

@import "@fontsource/inter";
@import "@fontsource/inter/700.css";

@import "@fontsource/cinzel";

@theme {
  --bg-asia: url("../img/products-Asia/Rectangle.png");

    --breakpoint-desktop: 160rem; /* 2560px */
}

body {
  font-family: "Inter", sans-serif;
}
/* #D5C06C */

@layer base {
  .active-link {
    @apply text-[#D5C06C] border-b-4 border-[#D5C06C] pb-2;
  }
  .active-linkbar {
    @apply text-[#D5C06C];
  }
  .active-pagination {
    @apply bg-[#D5C06C] rounded-full text-[#1F1F1E];
  }
}
